@model ADWeb.ViewModels.SearchUsersModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Users.cshtml";

    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "search-results",
        LoadingElementId = "searching-users",
        LoadingElementDuration = 500
    };
}

<h3>User Search</h3>
<p>Use the fields below to search for users in the application.</p>
<div class="row">
    <div class="col-md-6">
        @using(Ajax.BeginForm("SearchUsers", "Users", null, ajaxOptions, new { @class = "form-horizontal", role = "role"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="SearchField" class="col-sm-2 control-label">Field:</label>
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor(m => m.SearchField, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                <label for="SearchValue" class="col-sm-2 control-label">Value*</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.SearchValue, new { @class="form-control", autofocus="autofocus" })
                    @Html.ValidationMessageFor(m => m.SearchValue)
                    <span class="help-block">Enter the value that will be used to search for users</span>
                </div>
            </div>
             
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="btnSearch" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Search Users
                    </button>
                </div> 
            </div>
        }
        
        <div id="searching-users" style="display: none;">
            <p style="color: #900"><b>Searching Users ...</b></p>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="search-results">
        </div>
    </div>
</div>

