@model ADWeb.ViewModels.SearchUsersModel

@{
    ViewBag.Title = "ADWeb - Domain Home";
}

<h3>ADWeb Home Page</h3>
<p>Welcome to the home page of the ADWeb application.</p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">User Quick Search</div>
            <div class="panel-body">
                <p>Use the field below to search for users in the domain.</p>
                @using(Html.BeginForm("QuickSearch", "Home", FormMethod.Post, new { @class = "form-inline", role = "form"}))
                {
                    <div class="form-group">
                        <label for="SearchValue" class="sr-only">Search Value</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.SearchValue, new { @class="form-control", autofocus="autofocus" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <button type="submit" id="btnSearch" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
