@{
    ViewBag.Title = "ADWeb";
}

<div class="jumbotron">
    <h3>ADWeb</h3>
    <p class="lead">
        Welcome to the ADWeb application! This web application will allow you to browse active directory
        and provide functunality to search, update and create objects in your active directory.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To get started using ADWeb, please use the link below to login with your Active Directory username and 
            password.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Help</h2>
        <p>To get help or to familiarize yourself with the ADWeb application,  please click on the button below.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Get Help &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>To get more infomration on this application, click on the button below.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go to About &raquo;</a></p>
    </div>
</div>