html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Georgia, Times, "Times New Roman", Serif;
  font-size: 14px;
}

.container {
	width: 95%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS this is not needed for the sticky footer. */
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.tab-pane > p
{
	padding-top: 10px;
}

/** login window styles **/
.form-signin {  max-width: 330px;  padding: 15px;  margin: 0 auto;}
.form-signin .form-signin-heading,
.form-signin .checkbox {  margin-bottom: 10px;}
.form-signin .checkbox {  font-weight: normal;}
.form-signin .form-control {  position: relative;  height: auto;  -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;          box-sizing: border-box;  padding: 10px;  font-size: 16px;}
.form-signin .form-control:focus {  z-index: 2;}
.form-signin input[type="email"] {  margin-bottom: -1px;  border-bottom-right-radius: 0;  border-bottom-left-radius: 0;}
.form-signin input[type="password"] {  margin-bottom: 10px;  border-top-left-radius: 0;  border-top-right-radius: 0;}

/** custom nav-bar theme **/
.navbar-default {
	background-color: #004080;
	border-color: #004e9b;
}
.navbar-default .navbar-brand {
	color: #dee4e7;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #dee4e7;
}
.navbar-default .navbar-nav > li > a {
	color: #dee4e7;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #004e9b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #004e9b;
}
.navbar-default .navbar-toggle {
	border-color: #004e9b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #004e9b;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #dee4e7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #dee4e7;
}
.navbar-default .navbar-link {
	color: #dee4e7;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #dee4e7;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #004e9b;
	}
}

/* validation error styles*/
.field-validation-error {
    color: #b94a48;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
	font-weight: bold;
    color: #b94a48;
    border-color: #b94a48;
}

.input-validation-error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
